# Entornos virtuales de Python
venv/
*.venv
env/

# Ficheros de caché de Python
__pycache__/
*.pyc

# Ficheros de entorno que contienen secretos
.env

# Ficheros de credenciales y secretos
*.json
secrets/

# Ficheros de subida de usuario
uploads/